In [14]:
import pandas as pd 
dataset=pd.read_csv('Position_Salaries.csv')

In [15]:
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [5]:
X=dataset.iloc[:,:-1].values

In [16]:
X

array([['Business Analyst', 1],
       ['Junior Consultant', 2],
       ['Senior Consultant', 3],
       ['Manager', 4],
       ['Country Manager', 5],
       ['Region Manager', 6],
       ['Partner', 7],
       ['Senior Partner', 8],
       ['C-level', 9],
       ['CEO', 10]], dtype=object)

In [26]:
X=X.reshape(-1,1)
X

array([['Business Analyst'],
       [1],
       ['Junior Consultant'],
       [2],
       ['Senior Consultant'],
       [3],
       ['Manager'],
       [4],
       ['Country Manager'],
       [5],
       ['Region Manager'],
       [6],
       ['Partner'],
       [7],
       ['Senior Partner'],
       [8],
       ['C-level'],
       [9],
       ['CEO'],
       [10]], dtype=object)

In [17]:
Y=dataset.iloc[:,-1].values

In [18]:
Y

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000], dtype=int64)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [20]:
X_train.shape

(8, 2)

In [21]:
X_test.shape

(2, 2)

In [24]:
Y_test.shape

(2,)

In [23]:
Y_train.shape

(8,)